@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --color-border: #395b64;
  --color-text: #395b64;
  --color-background: white;
  --color-gray: #cfd2cf;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open sans";
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #a5c9ca;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #2c3333;
}

img {
  max-width: 100%;
  display: block;
}

/* css for loading spinner */
.loader {
  border: 10px solid var(--color-bg);
  border-top: 10px solid var(--color-blue);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Cards */
.card {
  background-color: White;
  border: 1px solid var(--color-gray);
  border-radius: 8px;
  box-shadow: 10px 10px 5px var(--color-gray);
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
  margin-top: 100px;
}
.card-about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #a5c9ca;
  color: #2c3333;
  max-height: 600px;
  padding-top: 1rem;
}
.card-post {
  padding-top: 0;
  margin-top: 100px;
  margin-bottom: 50px;
}
.create-form {
  padding-top: 0;
  padding-bottom: 4rem;
  background-color: #a5c9ca;
  color: white;
}

/* Index Page I.E Main Page */
.main {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding-right: 20%;
}
.profile-pic {
  border-radius: 9999px;
}
.short-about {
  padding-left: 2rem;
}
.post-footer {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.word-counter {
  margin-right: 4rem;
  font-style: italic;
}
.post-link {
  margin-left: 4rem;
}
@media screen and (max-width: 480px) {
  .main {
    justify-content: center;
    flex-direction: column;
  }
}

/* Create Page */
textarea {
  padding: 2rem;
  font-size: 1rem;
  border: 1px solid var(--color-border);
  border-radius: 4px;
}

label {
  display: block;
}
.createHello {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #a5c9ca;
  color: white;
}

.submit-btn {
  background-color: var(--color-background);
  color: var(--color-text);
  border: 2px solid var(--color-border);
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  padding: 15px 32px;
  font-size: 16px;
  margin-right: 10px;
}
.submit-btn:hover {
  background-color: #395b64;
  color: white;
  transition-duration: 0.4s;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* About Page */
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
.greeting {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.bio {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  color: #2c3333;
  width: 500px;
}
.backBtn {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: darkblue;
}

/* Post Page */
.post-page-container {
  margin-top: 150px;
}

/* Login Page */
.login-greeting {
  margin-top: 100px;
}
.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.signInBtn {
  background-color: var(--color-border);
  border: none;
  border-radius: 8px;
  color: white;
  text-align: center;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.signOutBtn {
  background-color: var(--color-border);
  border: none;
  border-radius: 8px;
  color: white;
  text-align: center;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 2rem;
  margin-right: 2rem;
}
.login-btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.login-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 150px;
  padding-bottom: 2rem;
}
